*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.54em;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
}
header {
    width: 100%;
    height: 100%;
}
.title {
    position: relative;
    color: white;
    font-size: 43px;
    line-height: 83px;
    /* top: 75px; */
    /* left: 36.7px; */
}
.word {
    color: #23d692;
    position: relative;
    /* left: 30px; */
    /* top: 75px; */
    margin-left: 30px;
}
.container{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../img/barny.jpg");
    background-size: cover;
    background-position: center;
    background-color:black;
    /* padding: 20px; */
}
nav ul li a{
    color: white;
    padding: 15px;
    font-size: 18px;
    font-family: sans-serif;
    opacity: 0.6;
    text-decoration: none;
    margin: 15px;
}

nav ul{
    display: flex;
}
nav ul li{
    margin-bottom: 150px;
}

nav ul li a:hover {
    color: #23d692;
    background: #D5D5D5;
}

.home-dropdown{
    position: absolute;
    top: 45px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: gray;
    padding: 8px;
}

nav{
    position: relative;
}
.resume-dropdown{
    position: absolute;
    top: 45px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: gray;
    padding: 8px;
}
.portfolio-dropdown{
    position: absolute;
    top: 45px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: gray;
    padding: 8px;
}
.blog-dropdown{
    position: absolute;
    top: 45px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: gray;
    padding: 8px;
}
.home-dropdown{
    position: absolute;
    top: 45px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: gray;
    padding: 8px;
}
.contact-dropdown{
    position: absolute;
    top: 45px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: gray;
    padding: 8px;
}
.demo-dropdown{
    position: absolute;
    top: 45px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: gray;
    padding: 8px;
}
.purchase-dropdown{
    position: absolute;
    top: 45px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: gray;
    padding: 8px;
}

.home-hover:hover .home-dropdown{
    display: flex;
}
.portfolio-hover:hover .portfolio-dropdown{
    display: flex;
}
.resume-hover:hover .resume-dropdown{
    display: flex;
}
.blog-hover:hover .blog-dropdown{
    display: flex;
}
.contact-hover:hover .contact-dropdown{
    display: flex;
}
.demo-hover:hover .demo-dropdown{
    display: flex;
}
.purchase-hover:hover .purchase-dropdown{
    display: flex;
}
.text{
    color: white;
    position: relative;
    margin-left: 250px;
}
.img{
    display: flex;
    align-items: center;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}